<ion-view view-title="客观题">
    <ion-content>
  
        <div ng-repeat='results in result |filter:{id:item_num}|limitTo:1'>
            <div class="card">
                <div class="item item-text-wrap">
                    {{results.id}}、{{results.Title}}
                </div>
            </div>
            <div class="card">
                <ion-radio ng-model="choice" ng-value="A"
                 ng-click="lookAnswer()">A.&nbsp;&nbsp;{{results.A}}</ion-radio>
                <ion-radio ng-model="choice" ng-value="B" 
                ng-click="lookAnswer()">B.&nbsp;&nbsp;{{results.B}}</ion-radio>
                <ion-radio ng-model="choice" ng-value="C" 
                ng-click="lookAnswer()">C.&nbsp;&nbsp;{{results.C}}</ion-radio>
                <ion-radio ng-model="choice" ng-value="D" 
                ng-click="lookAnswer()">D.&nbsp;&nbsp;{{results.D}}</ion-radio>
            </div>
            <div class="card">
                <div class="item item-text-wrap item-dark" 
                ng-hide="hide">正确答案：{{results.Answer}}</div>
            </div>
        </div> 
      
    </ion-content>
    <div class="bar bar-footer">
        <div class="bar bar-footer">
            <div class="tabs tabs-icon-top">
                <a class="tab-item " ng-click="item_num_pre()">
                    <i class="icon ion-arrow-left-a "></i> 上一题
                </a>
                <a class="tab-item" ng-click="lookAnswer()">
                    <i class="icon ion-android-desktop"></i> 查看答案
                </a>
                <a class="tab-item" ng-click="item_num_next()">
                    <i class="icon ion-arrow-right-a"></i> 下一题
                </a>
            </div>
        </div>
    </div>
</ion-view>
