<ion-view view-title="小课堂">
    <ion-content>
      
        <div class="list card">
            <div class="item item-image">
                <img ng-src="{{url}}">
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="bar bar-footer">
        <div class="tabs tabs-icon-top">
            <a class="tab-item " ng-click="pic_pre()">
                <i class="icon ion-arrow-left-a "></i> 上一篇
            </a>
            <a class="tab-item" ng-click="select()">
                <i class="icon ion-android-desktop"></i> 选择章节
            </a>
            <a class="tab-item" ng-click="pic_next()">
                <i class="icon ion-arrow-right-a"></i> 下一篇
            </a>
        </div>
    </div>
    </div>
</ion-view>
